/* -- Buttons -- */
$lighter-yellow: #FFEA99;
$yellow: #FFEA18;
$dark-yellow: #FFE211;

/* -- Errors -- */
$error: red;

$logo-color: #000;

// Grayscale
$light-gray: #ddd;
$darker-gray: #999;
$gray: #777;

// Headings
$purple: #7C00EA;