
form {
  padding-top: 6px;
}

input {
  margin-left: 4px;
  border: 0;
  -webkit-appearance: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 4px;
  text-align: center;
}

button {
  background-color: $yellow;
  border: 0px solid #333;
  padding: 8px;
  margin: 2px;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  cursor: hand;
  cursor: pointer;
}

.session-button {
  background-color: $yellow;
  border: 0px solid #333;
  padding: 8px;
  margin: 2px;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  cursor: hand;
  cursor: pointer;
}

.session-button:hover {
  background-color: $dark-yellow;
}
