
form {
  padding-top: 6px;
}

input {
  border: 0;
  -webkit-appearance: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 4px;
}

.session-button {
  background-color: $purple;
  color: white;
  padding: 12px 0;
  text-decoration: none;
  text-transform: lowercase;
  width: 100%;
  cursor: hand;
  cursor: pointer;
  @include size(session-button);
  font-weight: 300;
  margin-bottom: 3px;
  border: none;
}

.session-button:hover {
  background-color: $light-purple;
}

// --- GOALS INPUT on entry edit/create page --

@mixin goals-input {
  width: 100%;
  text-align: left;
  @include size(h3);
  font-family: $base-font, sans-serif;
  outline: none;
}

/*  --- ENTRY FORM --- */
form {
  @include size(h4);
  font-family: $base-font, sans-serif;
  text-align: center;
}

@mixin textareas {
  width: 100%;
  margin-bottom: 2rem;
  box-sizing: border-box;
  border: 0px solid #fff;
  // resize: none;
  @include size(h4);
  font-family: $base-font, sans-serif;
  outline: none;
  resize: none;
}

textarea {
  @include textareas;
  height: 12em;
}

.expandingArea > textarea,
.expandingArea > pre {
  @include textareas;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.expandingArea > textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 12em;
}

.expandingArea.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}

.expandingArea > pre {
  display: none;
}

.expandingArea.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}

.expandingArea {
  position: relative;
  // border: 1px solid #888;
  background: $purple;
}

.entry-show a { 
  text-align: right; 
  @include size(small);
  color: $purple;
}

@mixin entry-form-buttons {
  background-color: #fff;
  margin-top: 2.3em;
  margin-bottom: 4em;
  margin-left: 1em;
  padding: .6em .4em;
  text-decoration: none;
  text-transform: lowercase;
  // width: 40%;
  cursor: hand;
  cursor: pointer;
  @include size(h4);
  font-weight: 700;
  border: 1px solid $purple;
  color: $purple;
}

@mixin entry-submit-hover {
  background: $purple;
  color: #fff;
}

.entry-show button {
  @include entry-form-buttons; 
  margin: -6rem 0 3rem 0;
}

.entry-submit-button {
 @include entry-form-buttons; 
}
.entry-submit-button:hover,
.entry-show button:hover {
  @include entry-submit-hover;
}

.entry-delete-button {
  @include entry-form-buttons; 
  border: 1px solid $red;
  color: $red;
  background-color: #fff;
}
.entry-delete-button:hover {
  background: $red;
  color: #fff;
}

.edit-entry-form input {
  @include goals-input;
}

.reflections-form button {
  @include entry-form-buttons;
  margin: 1rem 0 2.3rem 0;
  width: 7rem;
}

.reflections-form button:hover {
  @include entry-submit-hover;
}

.trash-button {
  background:none;
  border:none;
  color: #fff;
  @include size(p);
  cursor: hand;
  cursor: pointer;
}

/* --- LOGIN / LOGOUT form --- */
.session-form input {
  width: 100%;
  text-align: center;
  @include size(small);
  font-family: $base-font, sans-serif;
  outline: none;
}

/* -- ENTRY and GOALS -- */
.entry-form input {
  @include goals-input;
}

.entry-form { 
  text-align: left; 
  padding-top: 0.71rem;
}

.entry-form textarea, 
.edit-entry-form textarea {
  border-bottom: 1px solid $light-gray;
  line-height: 2.32rem;
}

// --- REFLECTIONS form ---
.reflections-form textarea {
  height: 10rem;
  padding: 1em;
  background: $lighter-gray;
  margin: 0;
}

.reflections-form h2 {
  padding-bottom: 1em;
}