body {
  // background: url(https://res.cloudinary.com/dtxfmomdh/image/upload/v1500522720/map_gp66el.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

// --- COLUMN structuring ---
.row, 
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
  position: relative;
  float: left;
  display: block;
}

.column + .column {
  margin-left: 1.6%;
}

.column-1 {
  width: 6.86666666667%;
}

.column-2 {
  width: 15.3333333333%;
}

.column-3 {
  width: 23.8%;
}

.column-4 {
  width: 32.2666666667%;
}

.column-5 {
  width: 40.7333333333%;
}

.column-6 {
  width: 49.2%;
}

.column-7 {
  width: 57.6666666667%;
}

.column-8 {
  width: 66.1333333333%;
}

.column-9 {
  width: 74.6%;
}

.column-10 {
  width: 83.0666666667%;
}

.column-11 {
  width: 91.5333333333%;
}

.column-12 {
  width: 100%;
}

// --- NAV styling ---
nav {
  padding: .6rem 0.2rem 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-bottom: 0px solid #eee;
  margin-bottom: 2.4rem;
}

.nav-links {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.nav-flow {
  // background-color: #222;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

/* -- HOME PAGE ---  */
.welcome-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1000px;
  padding-left: 1rem;
}

.feature-container { 
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1000px;
  padding-left: 1rem;
}

.intro {
  flex: 2;
  // border: 1px solid black;
  padding: 5rem 0.4rem;
  margin: 0 auto;
}

.behind-bg-image {
  width: 100%;
  height: 100vh;
  // height: 830px;
}

.bg-image {
  display: block;
  padding-top: 1px;
  height: 100%;
  margin-top: -1px;
  background-position: center;
  background: url(https://res.cloudinary.com/dtxfmomdh/image/upload/v1500522720/map_gp66el.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.feature-section {
  background-color: #222;
  padding: 4rem 0rem;
}

// ---- DEPRECATED FLEX APPROACH - GRID IS PREFERRED
// .feature { 
//   flex: 1; 
//   padding: 3rem 0.8rem;
//   min-width: 240px;
//   display: flex;
//   flex-direction: row;
// }

// .feature-image {
//   flex: 1;
// }
// .feature-description {
//   flex: 3;
// }

// --- LOGIN / LOGOUT form --- 
.session-form-container {
  flex: 1;
  padding: 0 1rem 6rem 0;
  text-align: center;
  min-width: 180px;
}

.session-form {
  max-width: 220px;
  text-align: center;
  margin: 0 auto;
}


// -- ENTRY INDEX page --- 
.entry-index {
  display: flex;
  flex-direction: column;
}

.entry-index-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.entry-index-header {
  padding: 3.65rem 0 4.4rem;
}

.entry-index-metadata {
  flex: 2;
  text-align: right;
  padding: 1.2em 2em 1.2em 0;
}

// -- ENTRY INDEX: profile feed indexes --- 
.profile-info {
    text-align: center;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: flex-start;
}

// .author { 
//   flex: 1.6; 
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
// }
// .author-metadata { 
//   flex: 1; 
//   padding: 1.9rem 0 0 1rem;
// }

// -- ENTRY INDEX: entry items --- 
main .entry-list-items {
  flex: 8;
}

.entry-list-items article {
  color: #444;
  padding: 2em;
  margin-bottom: 1em;
  background: #F9F9F9;
  max-width: 40em;
}

.entry-index-container:hover article { 
  background: #fff;
  transition: 0.65s;
  -webkit-box-shadow: 0px 0px 27px -7px $light-purple;
  -moz-box-shadow: 0px 0px 27px -7px $light-purple;
  box-shadow: 0px 0px 27px -7px $light-purple;
  cursor: hand;
  cursor: pointer;
}

.entry-index-container:hover a { color: $purple; }
.entry-index-container:hover a:hover { color: $light-purple; }

// -- ENTRY INDEX: action animations --- 
.entry-enter {
  opacity: 0.01;
}

.entry-enter.entry-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.entry-leave {
  opacity: 1;
}

.entry-leave.entry-leave-active {
  opacity: 0.01;
  transition: opacity 700ms ease-in;
}

.user-content-prompt {
  padding: 4rem;
  text-align: center;
}

// --- REFLECTIONS page ---
.reflections article {
  background: #444;
  padding: 1.7em 2em 1.7em 2em;
  margin-bottom: 1em;
  color: #fff;
  width: 100%;
}

.reflection-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.reflection-item-content {
  flex: 40;
  overflow: hidden;

}
.reflection-item-action {
  flex: 1;
  text-align: right;
}

// --- Loading animation ---
@keyframes placeholderShimmering{
  0%{
      background-position: -430px 0;
  }
  100%{
      background-position: 430px 0;
  }
}

.loading-bar {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmering;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eee 8%, #000 18%, #eee 33%);
  height: 3px;
}

// --- ENTRY SHOW page ---
// .entry-item {
//   display: flex;
//   // border: 1px solid black;
//   flex-direction: row;
// }

// .entry-item-writer-info {
//   flex: 1;
//   // border: 1px solid purple;
//   text-align: right;
// }

// .entry-show {
//   flex: 3;
//   // border: 1px solid gray;
// }
