body {
  // background: url(https://res.cloudinary.com/dtxfmomdh/image/upload/v1500522720/map_gp66el.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

// --- NAV styling ---
nav {
  padding: .6rem 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.nav-logo {
  flex: 1;
  @include size(h2);
  font-family: $logo-font, sans-serif;
  align-items: baseline;
}

.nav-logo a { color: $logo-color; }

.nav-links {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

/* -- HOME PAGE ---  */
.welcome-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 750px;
}

.intro {
  flex: 2;
  // border: 1px solid black;
  padding: 5rem 0.4rem;
  margin: 0 auto;
}

// --- LOGIN / LOGOUT form --- 
.session-form-container {
  flex: 1;
  padding: 30px 12px 0 0;
  text-align: center;
}

.session-form {
  max-width: 150px;
  text-align: center;
  margin: 0 auto;
}

main .entry-list-items {
  // color: #fff;
  // border: 1px solid #000;
  // background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.entry-list-items article {
  color: #fff;
  flex: 1;
  padding: 2em;
  margin-bottom: 1em;
  background: #000;
  max-width: 40em;
}
