$type-scale-large: (
  h1: 9rem,
  h2: 2.1rem,
  h3: 1.8rem,
  h4: 1.663rem,
  h5: 1.5rem,
  h6: 1.2rem,
  p: 1.46344rem,
  small: 1rem,
  welcome-heading: 4.3rem,
  welcome-prompt: 2.4rem,
  session-button: 1rem,
  author-heading: 4.3rem,
  author-subtitle: 3.2rem,
);

$type-scale-medium: (
  h1:	7.92rem,
  h2:	1.848rem,
  h3:	1.584rem,
  h4:	1.46344rem,
  p:	1.46344rem,
  small:	0.88rem,
  welcome-heading: 3.78rem,
  welcome-prompt: 2.11rem,
);

$type-scale-small: (
  h1: 6.9696rem,
  h2: 1.62624rem,
  h3: 1.39392rem,
  h4: 1.2878272rem,
  p: 1.2878272rem,
  small: 0.7744rem,
  welcome-heading: 3.33rem,
  welcome-prompt: 1.86rem,
);

$breakpoint-medium: 75em;
$breakpoint-small: 45em;

@mixin size($level) {
  font-size: map-get($type-scale-large, $level);
  @media (max-width: $breakpoint-medium) {
     font-size: map-get($type-scale-medium, $level);
  }
  @media (max-width: $breakpoint-small) {
     font-size: map-get($type-scale-small, $level);
  }
}

a {
  text-decoration: none;
}

.nav-logo {
  flex: 1;
  @include size(h2);
  font-family: $logo-font, sans-serif;
  align-items: baseline;
}

nav a {
  @include size(small);
  color: $darker-gray;
  padding-bottom: 1.5rem;
}

.nav-logo a { 
  color: #000; 
  @include size(h2);
  padding-bottom: 1.5rem;
}

.nav-active-link {
  font-weight: 700;
  color: $purple;
  color: #222;
}

.nav-greeting {
  @include size(small);
  font-family: $base-font, sans-serif;
}

.logout-button {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
  border-bottom: 0px;
}

.logout-button:hover {
  background-color: #111;
  color: #fff;
  cursor: hand;
  cursor: pointer;
  transition: 0.65s;
}

.title {
  @include size(h1);
}

body {
  font-family: $base-font, sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-family: $logo-font, cursive;   
  margin-bottom: -11px;
  @include size(h1);
}

h3 { 
  font-family: $base-font, sans-serif;
  font-weight: bold; 
  margin-left: 3px;
  @include size(h3);
}

.tagline {
  font-family: $base-font, sans-serif;
  line-height: 1.3em;
  font-weight: light;
  @include size(h3);
}

.intro p {
  margin-left: 6px;
  display: block;
}

.entry-index-metadata a {
  text-decoration: none;
  color: $light-purple;
}

a:hover {
  color: $purple;
  transition: 0.65s;
}


/* -- LOGIN / SIGNUP form -- */
.session-form input {
  @include size(p);
}
.session-errors {
  @include size(small);
  color: $error;
  padding-bottom: 5px;
}

.session-option {
  @include size(small);
}

.session-form a { color: $light-purple; }
.session-form a:hover { color: $purple; }

.session-form { font-size: 1.1rem; }

/* -- SHOWING an ENTRY -- */
article {
  @include size(p);
}

@mixin entry-heading {
  font-family: $base-font, sans-serif;
  @include size(h4);
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 300;
  color: $purple;
  padding-top: 2rem;
}

article h1 {
  @include entry-heading;
}

article h2 {
  color: $light-gray;
}

section {
  white-space: pre-wrap;
}

.entry-show section {
  line-height: 2.37rem;
  padding-bottom: 1.5em;
}

section h2 {
  padding-bottom: 0.14rem;
}

li { list-style: none; }
.nav-links li { padding-left: 1rem; }

/* -- SHOWING an ENTRY's AUTHOR -- */
.country, .age, .race {
  color: white;
  display: inline-block;
  padding: 8px;
}
.profile-text { 
  display: inline-block; 
  padding: 0.6rem; 
  margin: 0.9rem 0.3rem 0 0.3rem; 
  font-size: 1rem; 
  color: #fff; 
}
.pretext-country {  background-color: #3DB6D7; }
.pretext-race {  background-color: #6ED73D; }
.pretext-age {  background-color: #FFC300; }
.country { background-color: #3DB7D7; }
.race { background-color: #6ED73D; }
.age { background-color: #FFC300; }
// .pretext-country { color: #3DB6D7; font-size: 1rem; }
// .pretext-race { color: #6ED73D; font-size: 1rem; padding-left: 10px; }
// .pretext-age { color: #FFC300; font-size: 1rem; padding-left: 10px; }

.profile-info .country, .race, .age {
  font-size: 1rem;
}

// --- ENTRY form --- 
.entry-form h2 {
  padding-bottom: 0.4em;
  color: $darker-gray;
  text-align: center;
}
.edit-entry-form h2 {
  padding-bottom: 0.4em;
  color: $light-gray;
  text-align: left;
}

@mixin form-placeholder {
  @include size(h3);
  color: $darker-gray;
}
.entry-form ::-webkit-input-placeholder {
  @include form-placeholder;
}
.entry-form :-moz-placeholder {
  @include form-placeholder;
}
.entry-form ::-moz-placeholder {
  @include form-placeholder;
} 
.entry-form :-ms-input-placeholder { 
  @include form-placeholder;
}


// -- REFLECTIONS form ---
.reflections h2 {
  @include size(h3);
  color: $darker-gray;
  text-align: center;
  padding-bottom: 0.4em;
}

.reflection-time {
  @include size(small);
  padding-bottom: 0.5rem;
  color: $gray;
}

.reflection h2 {
  @include size(h3);
  color: $darkest-gray;
  text-align: center;
  padding-bottom: 1.7rem;
  padding-top: 1rem;
  font-weight: 300;
}

// -- ENTRY SHOW page
.entry-item-writer-info h2 {
  font-family: $base-font;
  @include size(h5);
  padding-right: 1em;
}

.entry-item-container h1 {
  @include entry-heading;
  padding-top: 2.4rem;
}

strong {
  font-weight: 700;
}

// -- ENTRY INDEX 
.entry-index-header h1 {
  @include size(h2);
  font-family: $base-font;
  text-align: center;
  color: $darker-gray;
  font-weight: 300;
  color: $purple;
}

.user-content-prompt {
  @include size(h2);
  font-family: $base-font;
  color: #777;  
}

.user-content-prompt a { color: $light-purple; }
.user-content-prompt a:hover { color: $purple; }

.entry-index-metadata {
  color: $middle-gray;
}

.entry-index:nth-of-type(1) {
  border-top: 1px solid #f9f9f9;
}

// ENTRY INDEX: author info
.profile-info h1 {
  @include size(author-heading);
}

// .profile-info h2 {
//   @include size(author-subtitle);
//   color: $purple;
// }

// ENTRY INDEX: author info
.entry-index-metadata h3 {
  @include size(p);
  font-weight: 300;
}

.entry-index-metadata small {
  @include size(small);
}

// ENTRY INDEX: icons
.fa-bookmark-o, .fa-bookmark { padding-left: 1rem; }

.fa-bookmark-o,
.fa-entry-options {
  color: $light-purple;
  opacity: 0;
  transition: 0.65s ease;
}

.fa-bookmark { color: $light-purple; }

.entry-index-container:hover .fa-entry-options { opacity: 1; }
.entry-index-container:hover .fa-bookmark-o { opacity: 1; }

.fa-trash-o { 
  padding-right: .34rem;
  padding-top: .5rem;
}

.fa-bookmark-o:hover, 
.fa-bookmark:hover, 
.fa-entry-options:hover {
  color: $purple;
  cursor: hand;
  cursor: pointer;
  transition: 0.65s ease;
}

.fa-bookmark:active,
.fa-bookmark-o:active,
.fa-entry-options:active {
  cursor: hand;
  cursor: pointer;
  transition: 0.65s ease;
  transform: scale(1.10);
}

.follows {
  background-color: $light-purple;
  display: inline-block;
  padding: .4rem 0.8rem .4rem .9rem;
  color: white;
  border-radius: 8px;
  margin-top: 1rem;
  opacity: 0;
  transition: 0.65s ease;
  cursor: hand;
  cursor: pointer;
}

.follows:hover { 
  background-color: $purple; 
  transform: scale(1.07);
}

.entry-index-container:hover .follows {
  opacity: 1;
}

// --- WELCOME page ---
.welcome-heading {
  @include entry-heading;
  @include size(welcome-heading);
  padding-top: 2.8rem;
  padding-bottom: 0;
}

.feature { 
  color: #222; 
  @include size(p);
}

.feature h2 {
  @include size(h2);
  color: $purple;
  text-align: left;
  margin: 0;
  padding: 0;
}

.feature h3 {
  @include size(h3);
  // @include size(h6);
  padding-bottom: 0.1rem;
  margin: 0;
  color: #222;
}

.welcome-prompt {
  @include entry-heading;
  @include size(welcome-prompt);
  color: #bbb;
  padding-bottom: 2.4rem;
  padding-top: 0;
}

@mixin welcome-options {
  @include entry-heading;
  text-align: left;
  padding: 2rem 0 2rem 2rem;
  color: white;
}

.welcome-option-1 {
  @include welcome-options;
  background-color: $blue;
}
.welcome-option-2 {
  @include welcome-options;
  background-color: $green;
}
.welcome-option-3 {
  @include welcome-options;
  background-color: $darker-yellow;
}
.welcome-option-4 {
  @include welcome-options;
  background-color: #C70030;
}

.welcome-option-1:hover, .welcome-option-2:hover, 
.welcome-option-3:hover, .welcome-option-4:hover {
  background-color: #fff;
  color: #222;
  cursor: hand;
  cursor: pointer;
  transition: 0.65s ease;
}
