$type-scale-large: (
  h1: 9rem,
  h2: 2.1rem,
  h3: 1.8rem,
  h4: 1.663rem,
  h5: 1.5rem,
  p: 1.663rem,
  // small: 1.3rem,
  small: 1rem,
  welcome-heading: 4.3rem,
  welcome-prompt: 2.4rem,
);

// $type-scale-large: (
//   h1: 6.911rem,
//   h2: 2.941rem,
//   h3: 1.911rem,
//   h4: 1.663rem,
//   p: 1.25rem
// );

// $type-scale-medium: (
//   h1: 3.052rem,
//   h2: 2.441rem,
//   h3: 1.953em,
//   h4: 1.563rem,
//   p: 1.25rem,
// );

// $type-scale-small: (
//   h1: 2.686rem,
//   h2: 2.148rem,
//   h3: 1.719rem,
//   h4: 1.375rem,
//   p: 1.1rem
// );
$type-scale-medium: (
  h1:	7.92rem,
  h2:	1.848rem,
  h3:	1.584rem,
  h4:	1.46344rem,
  p:	1.46344rem,
  small:	0.88rem,
);

$type-scale-small: (
  h1: 6.9696rem,
  h2: 1.62624rem,
  h3: 1.39392rem,
  h4: 1.2878272rem,
  p: 1.2878272rem,
  small: 0.7744rem,
);

$breakpoint-medium: 75em;
$breakpoint-small: 45em;

@mixin size($level) {
  font-size: map-get($type-scale-large, $level);
  @media (max-width: $breakpoint-medium) {
     font-size: map-get($type-scale-medium, $level);
  }
  @media (max-width: $breakpoint-small) {
     font-size: map-get($type-scale-small, $level);
  }
}

a {
  text-decoration: none;
}
.nav-logo {
  flex: 1;
  @include size(h2);
  font-family: $logo-font, sans-serif;
  align-items: baseline;
}

nav a {
  @include size(small);
  color: white;
  // color: $darker-gray;
}

.nav-logo a { 
  color: white; 
  // color: $darkest-gray; 
  @include size(h2);
}

.nav-greeting {
  @include size(small);
  font-family: $base-font, sans-serif;
}

.logout-button {
  background-color: #333;
  // background-color: #f9f9f9;
  padding: 10px;
  border-radius: 6px;
}
.logout-button:hover {
  background-color: #111;
  cursor: hand;
  cursor: pointer;
  transition: 0.3s;
}

.title {
  @include size(h1);
}

body {
  font-family: $base-font, sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-family: $logo-font, cursive;   
  margin-bottom: -11px;
  @include size(h1);
}

h3 { 
  font-family: $base-font, sans-serif;
  font-weight: bold; 
  margin-left: 3px;
  @include size(h3);
}

.tagline {
  // font-size: 1.4em;
  font-family: $base-font, sans-serif;
  line-height: 1.3em;
  font-weight: light;
  @include size(h3);
}

.intro p {
  margin-left: 6px;
  display: block;
}

.entry-index-metadata a {
  text-decoration: none;
  color: $light-purple;
}

a:hover {
  color: #bbb;
  // color: $purple;
  transition: 0.2s;
}


/* -- LOGIN / SIGNUP form -- */
.session-form input {
  @include size(p);
}
.session-errors {
  @include size(small);
  color: $error;
  padding-bottom: 5px;
}

.session-option {
  @include size(small);
}



/* -- SHOWING an ENTRY -- */
article {
  @include size(p);
}

@mixin entry-heading {
  font-family: $base-font, sans-serif;
  @include size(h4);
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 300;
  color: $purple;
}

article h1 {
  @include entry-heading;
  padding-top: 2rem;
}

article h2 {
  color: $light-gray;
}

section {
  padding-bottom: 1.5em;
  white-space: pre-wrap;
}

.entry-show section {
  line-height: 2.37rem;
}

section h2 {
  padding-bottom: 0.14rem;
}

li { list-style: none; }
.nav-links li { padding-left: 1rem; }

/* -- SHOWING an ENTRY's AUTHOR -- */
.country, .age, .race {
  // font-weight: bold;
  color: white;
  display: inline-block;
  padding: 8px;
}

.country { background-color: #3DB7D7; }
.race { background-color: #6ED73D; }
.age { background-color: #FFC300; }
.pretext-country { color: #3DB6D7; font-size: 1rem; }
.pretext-race { color: #6ED73D; font-size: 1rem; padding-left: 10px; }
.pretext-age { color: #FFC300; font-size: 1rem; padding-left: 10px; }

.profile-info .country, .race, .age {
  font-size: 1rem;
}

// --- ENTRY form --- 
.entry-form h2 {
  padding-bottom: 0.4em;
  color: $darker-gray;
  text-align: center;
}
.edit-entry-form h2 {
  padding-bottom: 0.4em;
  color: $light-gray;
  text-align: left;
}

@mixin form-placeholder {
  @include size(h3);
  color: $darker-gray;
  font-weight: bold;
}

.entry-form ::-webkit-input-placeholder {
  @include form-placeholder;
}
.entry-form :-moz-placeholder {
  @include form-placeholder;
}
.entry-form ::-moz-placeholder {
  @include form-placeholder;
} 
.entry-form :-ms-input-placeholder { 
  @include form-placeholder;
}




// -- REFLECTIONS form ---
.reflections h2 {
  @include size(h3);
  color: $darker-gray;
  text-align: center;
  padding-bottom: 0.4em;
}

.reflection-time {
  @include size(small);
  padding-bottom: 0.5rem;
  color: $gray;
}

.reflection h2 {
  @include size(h3);
  color: $darkest-gray;
  text-align: center;
  padding-bottom: 1.7rem;
  padding-top: 1rem;
  font-weight: 300;
}

// -- ENTRY SHOW page
.entry-item-writer-info h2 {
  font-family: $base-font;
  @include size(h5);
  padding-right: 1em;
}

.entry-item-container h1 {
  @include entry-heading;
}

strong {
  font-weight: 700;
}




// -- ENTRY INDEX 
.entry-index-header h1 {
  @include size(h2);
  font-family: $base-font;
  text-align: center;
  color: $darker-gray;
  font-weight: 300;
  color: $purple;
  padding: 3.65rem 0 4.4rem;
}

.entry-index-metadata {
  color: $middle-gray;
}
// .entry-index
// .entry-index-metadata:first-child {
// }

.entry-index:nth-of-type(1) {
  border-top: 1px solid #f9f9f9;
}

.entry-index-metadata h3 {
  @include size(p);
  font-weight: 300;
}

.entry-index-metadata small {
  @include size(small);
}

// --- WELCOME page ---

.welcome-heading {
  @include entry-heading;
  @include size(welcome-heading);
  padding-bottom: 0;
}

// delete this block if prompt is unused
.welcome-prompt {
  @include entry-heading;
  @include size(welcome-prompt);
  color: #bbb;
  padding-bottom: 2.4rem;
}

@mixin welcome-options {
  @include entry-heading;
  text-align: left;
  padding: 2rem 0 2rem 2rem;
  color: white;
}

.welcome-option-1 {
  @include welcome-options;
  background-color: $blue;
}
.welcome-option-2 {
  @include welcome-options;
  background-color: $green;
}
.welcome-option-3 {
  @include welcome-options;
  background-color: $darker-yellow;
}
.welcome-option-4 {
  @include welcome-options;
  background-color: #C70030;
}

.welcome-option-1:hover, .welcome-option-2:hover, 
.welcome-option-3:hover, .welcome-option-4:hover {
  background-color: #F9F9F9;
  color: #000;
  cursor: hand;
  cursor: pointer;
  transition: 0.3s;
}
