body {
  font-family: $base-font, sans-serif;
  font-weight: 300;
}

h1 {
  font-family: $logo-font, cursive;   
  font-size: 6em; 
  margin-bottom: -11px;
}

h3 { 
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  font-weight: bold; 
  margin-left: 3px;
}

.tagline {
  font-size: 1.4em;
  font-family: $base-font, sans-serif;
  line-height: 1.3em;
  font-weight: light;
}

.intro p {
  margin-left: 6px;
  display: block;
}

form {
  padding-top: 6px;
}

input {
  margin-left: 4px;
  border: 0;
  -webkit-appearance: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 4px;
  text-align: center;
}

.session-button {
  background-color: $yellow;
  border: 0px solid #333;
  padding: 8px;
  margin: 2px;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  cursor: hand;
  cursor: pointer;
}

.session-button:hover {
  background-color: $dark-yellow;
}

a {
  text-decoration: none;
  color: green;
}

.session-errors {
  font-size: .7em;
  color: $error;
  padding-bottom: 5px;
}

.alt-session {
  font-size: .8em;
}