body {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Permanent Marker', cursive;   
  font-size: 6em; 
  margin-bottom: -8px;
}

h3 { 
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  font-weight: bold; 
  margin-left: 3px;
}

.tagline {
  font-size: 1.4em;
  font-family: 'Rubik', sans-serif;
  line-height: 3px;
  font-weight: light;
}

form {
  padding-top: 6px;
}

input {
  margin-left: 4px;
  border: 0;
  -webkit-appearance: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 4px;
  text-align: center;
}

button {
  background-color: #FFEA18;
  border: 0px solid #333;
  padding: 8px;
  margin: 2px;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
}

a {
  text-decoration: none;
  color: green;
}

.sessionErrors {
  font-size: .8em;
  color: red;
}